/* Dashboard */
.project-dashboard h3 {}

#projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 60px;
  padding: 20px;
}
.project {
    width: 300px;
    background-color: #ffffff;
    border-left: 4px solid #ffa348;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    height: 100%;
    padding: 15px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial, sans-serif;
}

.project-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.project-text {
    font-size: 14px;
    color: #555;
    flex-grow: 1;
    height: 50px;
}

.project-symbols {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    margin-top: auto;
}


.project-symbols div {
    background-color: #f2f2f2;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.2s;
}

.project-symbols div:hover {
    background-color: #e0e0e0;
}
