@import url("search-bar.css");
@import url("user-info.css");
@import url("dashboard.css");
@import url("trending.css");

body {
    background-color: white;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: white;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 5px;
}

main {
    display: flex;
    gap: 15px;
    background-color: #f5f5f5;
}
