:root {
    --dark-background: #1f2937;
    --light-background: #3882F6;
    --grey-background: #E5E7EB;
}


* {
    font-family: Roboto;
    /* for debugging the design */
    border: 1px solid black;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: var(--dark-background);
    color: white;
}

main {
    display: flex;
    justify-content: center;
    gap: 15px;
    background-color: var(--dark-background);
    color: white;
}

#info {
    display: flex;
    justify-content: center;
}

#info-sub {
    display: flex;
}

#quote {
    background-color: var(--grey-background);
}

#call {
    display: flex;
    justify-content: center;
    gap: 15px;
}

#call button {}

#call,
#call button {
    color: white;
    background-color: var(--light-background);
}

footer {
    display: flex;
    justify-content: center;
    background-color: var(--dark-background);
    color: white;
}