:root {
    --dark-blue-background: #1f2937;
    --light-blue-background: #3882F6;
    --grey-background: #E5E7EB;

    --text-color1: #F9FAF8;
    --text-color2: #E5E7EB;
    --text-color-dark: #1f2937;
}


* {
    font-family: Roboto;
    /* for debugging the design */
    border: 1px solid black;
}

body {
    margin: 0 auto;
    width: 900px;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-around;
    background-color: var(--dark-blue-background);
}

header div {
    font-size: 24px;
    font-weight: bold;
    color: var(--text-color1);
}

header div a {
    font-size: 18px;
    color: var(--text-color2);
}

/* MAIN */
main {
    display: flex;
    justify-content: center;
    gap: 15px;
    background-color: var(--dark-blue-background);
    height: 300px;
    padding: 50px;
}

main #main-left {
    width: 400px;
}

main #main-left h2 {
    font-size: 48px;
    color: var(--text-color1);
}

main #main-left p {
    font-size: 18px;
    color: var(--text-color2);
}

main #main-left button {
    color: white;
    background-color: #3882F6;
    padding: 5px 20px;
    font-weight: bold;
    border-radius: 8px;
}

main #main-right {
    padding: 10px 40px;
    background-color: var(--grey-background);
    border-radius: 8px;
}

/* INFO */
#info {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: var(--text-color-dark);
    padding: 10px 20px;
}

/* INFO-SUB */
#info-sub {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#info-sub div div {
    border: 6px solid var(--light-blue-background);
    height: 150px;
    width: 150px;
    border-radius: 8px;
    padding: 10px;
}

#info-sub div p {
    color: #1f2937;
    width: 150px;
}

#quote {
    background-color: var(--grey-background);
    color: #1f2937;
}

#call {
    display: flex;
    justify-content: center;
    gap: 15px;
}


#call,
#call button {
    color: white;
    background-color: var(--light-blue-background);
}

footer {
    display: flex;
    justify-content: center;
    background-color: var(--dark-blue-background);
    color: white;
}