html {
    background-color: white;
}


#game-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.game-board-line {
    display: flex;
    align-items: center;
}
