html {
    background-color: white;
}

h1 {
    text-align: center;
}

#game-config {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}


#game-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.game-board-line {
    display: flex;
    align-items: center;
    background-color: black;
}

.game-board-element {
    background-color: black;
}
