html {
    background-color: white;
}


#game-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.game-board-line {
    display: flex;
    align-items: center;
    background-color: black;
}

.game-board-element {
    background-color: black;
}

.game-board-element:hover {
    background-color: white;
}

